body{
    margin: 30px;
    font-family: 'Poppins';
    background: #eee;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* align-items: center; */
}
.grid-container > div,.grid-container>header{
    border: 1px solid #000;
    padding: 20px;
}
.grid-container>header{
    border: 1px solid #000;
}
.grid-container>.main-items{
    text-align: center;
   
}
header{
    grid-column: span 3;
    text-align: center;
}
ul{
    list-style-type: none;
}

