body{
    margin: 30px;
    font-family: 'Poppins';
    background: #eee;
}
ul, li{
    padding: 0;
    list-style-type: none;
}
h1,h2,h3{
    color:#767f7e;
}
p{
    color: #828b8a;
}
/* img{
    height: 400px;
    width: 400px;
} */
header{
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;
}
article.featured {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    border-bottom: 1px solid #767f7e;
    padding-bottom: 40px;
}

article img,article.featured img{
    width: 100%;
    height: 300px;
    border: 5px solid #bbc7c7;
    border-radius: 5px;
}

@media screen and (max-width:980px){
    article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: center;
    }
}

@media screen and (max-width:760px){
    article,article.featured{
        display: block;
        margin: 0 20px;
    }
    article img,article.featured img{
        height: 250px;
    }
}
